.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.carti {
    margin: 0 0 2em 0;
    margin-left: 2em;
    padding: 0;
    width: 60em;
}
.carti li {
    color: black;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.carti li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.carti li:hover {
    color: #607D8B;
    background-color: #DDD;

}
.carti .text {
    position: relative;
    top: -3px;
}
.carti .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}
