
<div id="targetu" #targetu>Updating transaction from CNP: of BID: </div>


<label>Transaction Date (dd-ll-yyyy format):
  <input #data/>
  <br/>
</label>

<label>Price:
  <input #price/>
  <br/>
</label>

<button (click)="updateTransaction(data.value, price.value)">
  Update
</button>
