<label>BID:
  <input #bid/>
  <br/>
</label>

<label>Author:
  <input #author/>
  <br/>
</label>

<label>Year:
  <input #year/>
  <br/>
</label>

<button (click)="saveBook(bid.value,author.value, year.value)">
  Save
</button>
