<div *ngIf="selectedClient">
  <h2>
    {{selectedClient.cnp}} was selected
  </h2>
  <button
    (click)="updateClient(selectedClient.cnp)">Update</button>
  <button
    [class.delete]="true"
    (click)="deleteClient(selectedClient);$event.stopPropagation()">
    Delete
  </button>
</div>

<h2>Clients</h2>

<hr>
<ol class="clienti">
   <li *ngFor = "let clientu of clients.clients"
   [class.selected]="clientu === selectedClient"
   (click)="onSelect(clientu)">
   CNP: {{clientu.cnp}}, Year of birth: {{clientu.yob}}, Gender: {{clientu.gender}}
</ol>
<hr>
