<h1>{{title}}</h1>

<nav>
  <a routerLink="/clients" routerLinkActive="active">Clients</a>
  <a routerLink="/books" routerLinkActive="active">Books</a>
  <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
</nav>

<router-outlet></router-outlet>
