
<div id="targetu" #targetu>Updating book with BID: </div>


<label>Author:
  <input #author/>
  <br/>
</label>

<label>Year:
  <input #year/>
  <br/>
</label>

<button (click)="updateBook(author.value, year.value)">
  Update
</button>
