<div *ngIf="selectedBook">
  <h2>
    {{selectedBook.BID}} was selected
  </h2>
  <button
    (click)="updateBook(selectedBook.BID)">Update</button>
  <button
    [class.delete]="true"
    (click)="deleteBook(selectedBook);$event.stopPropagation()">
    Delete
  </button>
</div>

<h2>Filtered Books</h2>
<input type="text" class="form-control" (input)="filtreaza($event.target.value)">

<hr>
<ol class="carti">
   <li *ngFor = "let carte of filtered"
   [class.selected]="carte === selectedBook"
   (click)="onSelect(carte)">
   BID: {{carte.BID}}, Author: {{carte.author}}, Year: {{carte.year}}
</ol>
<hr>
