<div *ngIf="selectedTransaction">
  <h2>
    Transaction from CNP: {{selectedTransaction.clientID}} of BID: {{selectedTransaction.bookID}} was selected.
  </h2>
  <button
    (click)="updateTransaction(selectedTransaction.clientID, selectedTransaction.bookID)">Update</button>
  <button
    [class.delete]="true"
    (click)="deleteTransaction(selectedTransaction.clientID, selectedTransaction.bookID);$event.stopPropagation()">
    Delete
  </button>
</div>

<h2>Transactions</h2>

<hr>
<ol class="tranz">
   <li *ngFor = "let trans of transactions"
   [class.selected]="trans === selectedTransaction"
   (click)="onSelect(trans)">
   CNP: {{trans.clientID}}, BID: {{trans.bookID}}, Date: {{trans.transactionDate}}, Price: {{trans.price}}
</ol>
<hr>
