<label>CNP:
  <input #cnp/>
  <br/>
</label>

<label>BID:
  <input #bid/>
  <br/>
</label>

<label>Date (dd-ll-yyyy format):
  <input #date/>
  <br/>
</label>

<label>Price
  <input #price/>
  <br/>
</label>

<button (click)="saveTransaction(cnp.value,bid.value,date.value,price.value)">
  Save
</button>
