
<div id="targetu" #targetu>Updating client with CNP: </div>


<label>Date of birth (dd-ll-yyyy format):
  <input #yob/>
  <br/>
</label>

<label>Gender:
  <input #gender/>
  <br/>
</label>

<button (click)="updateClient(yob.value, gender.value)">
  Update
</button>
