

  <label>CNP:
    <input #cnp/>
    <br/>
  </label>

  <label>Date of birth (dd-ll-yyyy format):
    <input #yob
    [(ngModel)]="myValue" #myInput />
    <br/>
  </label>

  <label>Gender:
    <input #gender/>
    <br/>
  </label>

  <button [disabled]="!myInput.validity.valid"
  (click)="saveClient(cnp.value,yob.value, gender.value)">
    Save
  </button>
